.App {
  background-color: red;
  background-image: linear-gradient(to bottom right,#282c34,#428CEE);
  /* background-image: url('assets/main.png'); */
  /* background-attachment: fixed; */
  width: 100%;
  min-height: 100vh;
  background-repeat: repeat-y;

}


.main_pic {
  width: 40px;
  height: 40px;
}

.pagelayout{
  width: 80%;
}