.cards_container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 120px;
    padding-top: 30px;
    margin: 0 auto;
    margin-top: 20px;
    padding-right: 0px;
    padding-left: 0px
  }

#BoardCover{
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
}

#Board{
  position: relative;
}