.card_container {
    position: relative;
    border-radius: 10px;
    width: 150px;
    height: 120px;
  }
  
  .mycard {
    display: block;
    width: 150px;
    height: 120px;
    border-radius: 10px;
  }
  
  .card_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 150px;
    height: 120px;
    opacity: 1;
    transition: .5s ease;
    background-color: #32383e;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 0.25rem;
  }
  
  .card_container:hover .card_overlay {
    background-color: #4C545C;
  }
  

