.colorpicker {
    width: 80px;
    height: 80px;
    border-radius: 5%;
    list-style:none;
}

.colorpicker:hover {
    width: 85px;
    height: 85px;
    border-radius: 10%;
    opacity: 0.8;

}

.colorpicker_container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 120px;
    padding-top: 30px;
  }

  .StartPage{
      padding-top: 80px;
      padding-bottom: 40px;
      width: 80%;
      margin: 0 auto;
  }

  .adduser{
      width: 40%;
      margin: 0 auto;
      margin-top: 80px;
      text-align: center;

  }

  .userscolor{
    margin: 0 auto;
    background-image: url("assets/nocolor.png");
    width:100px;
    height:100px;
  }